@font-face {
	font-family: 'Poppins-Bold';
	src: url('./fonts/Poppins-Bold.ttf') format('woff2'),
		url('./fonts/Poppins-Bold.ttf') format('woff');
	font-weight: bold;
	font-style: bold;
	font-display: swap;
}

.poppins-font-family {
	font-family: 'Poppins-Bold';
	font-weight: bold;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#main {
	background-size: auto;
	background-color: #eeeeee;
	background-size: 100%;
	background-repeat: no-repeat;
}

.card {
	background-color: #e6ba77;
	border-radius: 24px;
	display: inline-block;
	height: auto;
	width: auto;
	margin: 12px 20px 12px 20px;
	padding: 12px;
}

.card-container {
	box-shadow: 0px 1px 15px 22px #e6ba77;
}
