@font-face {
	font-family: 'Poppins-Bold';
	src: url('./fonts/Poppins-Bold.ttf') format('woff2'),
		url('./fonts/Poppins-Bold.ttf') format('woff');
	font-weight: bold;
	font-style: bold;
	font-display: swap;
}

.dark-background {
	background: local;
	background-color: #0f111a;
}

.poppins-font-family {
	font-family: 'Poppins-Bold';
	font-weight: bold;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#main {
	background-size: auto;
	background-color: #eeeeee;
	background-size: 100%;
	background-repeat: no-repeat;
}

.card {
	background-color: #e6ba77;
	border-radius: 24px;
	display: inline-block;
	height: auto;
	width: auto;
	margin: 12px 20px 12px 20px;
	padding: 12px;
}

.card-container {
	box-shadow: 0px 1px 15px 22px #e6ba77;
}

::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 6px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}
